body{
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
}
img{
    box-sizing: border-box;
    display: block;
    max-width: 100%; 
    height: auto;
}
section{
    padding: 120px 0;
    /* max-width: 1440px; */
}

.container {
max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* Header */
.header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
/* max-width: 1440px; */

}

.header-conteiner{
display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    display: flex;
    padding: 17px 0;


    
}

.logo-web{
    color: #2e2f42;
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-ul{
    display: none;
    
}




    .address{
        font-style: normal;
        margin-left: auto;
        display: none;
        
    }


.btn-menu{
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    line-height: 0;
    border: none;
}

@media screen and (min-width:768px) {


        .btn-menu{
            display: none;
        }

        .logo{
            margin-right: 120px;
        }
            .nav-ul-link {
    
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            display: block;
    
        }
        .nav-ul {
        display: flex;
        gap: 40px;
                }
    
        .nav-ul-link:hover {
            color: #404bbf;
        }
    
        .nav-ul-link:focus {
            color: #404bbf;
        }
    
    
        .current {
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
    
        }
    
    
    
    
        .current::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            display: block;
            height: 4px;
            border-radius: 2px;
            background-color: #404BBF;
        }
        .address {
            display: block;
            }
            .address-info {
                color: #434455;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .address-info:hover {
                color: #404bbf;
        }
            
        .address-info:focus {
                color: #404bbf;
            }
            
        .address-mail-tel {
            
            font-weight: 400;
            font-size: 12px;
            line-height: 117%;
            letter-spacing: 0.04em;
            color: #434455;
            display: flex;
            flex-direction: column;
            gap: 12px;
            
        }
}
@media screen and (min-width:1158px) {
    .logo{
        margin-right: 76px;

    }
    .address-mail-tel{
        flex-direction: row;
        gap: 40px;
    }
        .address-mail-tel{
            font-size: 16px;
                line-height: 150%;
        }
}








